#title {
    text-align: center;
    color: rgb(11, 190, 221);
    text-shadow: 2px 2px   rgb(212, 8, 195);
    font-family: 'Macondo', cursive;;
    font-size: 50px;
}

body{
    background-image: url("/8ballimg/mysteryplanet.jpg");
} 
.content{
    text-align: center;
}

#answer{
    /* color: #fc0076; */
    color: rgb(255,20,147);
    font-size: 35px;
}
#ball{
    border-radius: 10px;
}
input{
    width: 350px;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
}
button{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}